<div class="youtube">

    {% if options.title|length %}
        <h2>{{ options.title }}</h2>
    {% endif %}

    {% if options.vid|length %}
        <iframe width="630" height="320" frameborder="0" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/{{ options.vid }}?autoplay=0&amp;start=0&amp;rel=0"></iframe>
    {% endif %}

    {% if tags|length %} 
        <p>{{ options.tags }}</p>
    {% endif %}

    {% if options.desc|length %}
        <p>{{ options.desc }}</p>
    {% endif %}

</div>